# Dependencies
/node_modules
**/node_modules

# Build outputs
**/bin
**/obj
**/.next
**/dist

# IDE files
.vs
.vscode
*.suo
*.user

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
.windsurfrules
.roomodes
.cursor
.roo
.windsurf